/* Global */
html {
    box-sizing: border-box;
    height: auto;
}

*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
    font-family: Garamond, serif;

    /*doing this, you can easily put in center everything inside the body element*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Common */
.confirmBtn, .posX, .posY {
    overflow: hidden;
    background-color: rgba(32, 32, 32, 1);
    color: #fff;
}

/* Menu */
#menu__toggle {
    opacity: 0;
}

/* THIS IS TO TRANSFORM THE HAMBURGER INTO AN X WHEN CLICK ON IT */
/* #menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
} */

/* THIS TO SHOW THE ACTUAL MENU WHEN CHECKING THE CHECKBOX */
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* Button */
.confirmBtn {
    margin: 2rem;;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
}

.confirmBtn:hover { background-color: rgba(32, 32, 32, .8); }

/* Main */
.grid-container {
    list-style-type: none;
    padding: 1rem 1.5rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 6rem);
    gap: 1rem;
    border-radius: 4rem;
}
.grid-container li {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    background-color: rgba(192, 192, 192, 1);
    border-radius: 3rem;
}

/* Mouse-data div */
.mouse-data { position: relative; }

.posX, .posY { 
    max-width: 100%;
    min-width: 20%;
    position: absolute; 
    padding: .5rem 1.5rem;
    border: 2px solid red;
    border-radius: 1rem;
}

.posX {
    top: 2.5rem;
    left: 2.5rem;
}
.posY {
    top: 2.5rem;
    right: 2.5rem;
}

/* Media queries..did not make it responsive really well :( */
@media (max-width:630px) {
  .grid-container {
    grid-template-columns: repeat(4, 7rem);
    gap: .5rem;
  }
}