/* Global */
html {
    box-sizing: border-box;
    height: auto;
}

*, *::before, *::after { box-sizing: inherit; }

body {
    color: #343434;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.content-wrap {
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

/* Header */
header { color: white; }

nav {
    display: flex;
    align-items: center;
    background: #100F10;
    padding: 0 40px;
}

h1.title { flex: 1 1 auto; }

.menu {
    flex: 0 1 auto;
    display: flex;
}
a {
    text-decoration: none;
    color: white;
}

a:hover { color: #DBD6D6; }

/* Main */
.container {
    width: 40%;
}
.container img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover; /* doing this so the image can fill the height and width of its box */   
}

.item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.item2{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.item3{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.item4{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.item5{
    grid-column: 3 / 8;
    grid-row: 1 / 5;
}

.bigger { transition: transform 1s; }

.bigger:hover {
    transform: scale(1.10);
    cursor: zoom-in;
}

/* Footer */
footer {
    background-color: #100F10;
    color: #F7FFF7;
    text-align: center;
    margin: 0;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a { padding: 18px; }

footer .contact-list {
    display: flex;
    justify-content: center;
}

/* Media queries */
@media (max-width: 1300px) {
    .item1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .item2{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .item3{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
    .item4{
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
}

@media (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 120px);
        gap: 0;
        margin: 2rem auto;
    }

    .container .resized { opacity: .5; }

    .container .resized:hover { opacity: 1; }
}

@media (max-width: 380px) {
    nav {
        padding: 0 15px;
    }
}